<!-- Modal -->
<div class="modal fade" id="importVideoFormation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-upload text-primary"></i> Importer une video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'action': path('formationVideo_upload'), 'method': 'POST'}) }}
                {{ form_rest(form) }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Importer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>