
###> symfony/framework-bundle ###
BUG_and_SOLUTION.markdown
VAKIO_AHO.markdown
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/files/images/products/
/media/user/
/var/
/vendor/
/.idea
/.php-cs-fixer.cache
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/media/
/public/build/
npm-debug.log
yarn-error.log
/migrations/
###< symfony/webpack-encore-bundle ###
