<li class=" navigation-header"><span data-i18n="User Interface">Space agent</span><i data-feather="more-horizontal"></i>
</li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('live_video_list') }}"><i data-feather="type"></i><span class="menu-title text-truncate" data-i18n="Typography">Meetings</span></a>
</li>
<li class=" nav-item"><a class="d-flex align-items-center" href="{{ path('live_video_list') }}"><i data-feather="eye"></i><span class="menu-title text-truncate" data-i18n="Feather">Formations</span></a>
</li>