<nav class="navbar navbar-expand-lg navbar-light bg-white v border border-start-0" id="menu-haut">
    <div class="container-fluid d-flex">
        <div>
            <a href="#" class="text-dark">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
        <form class="d-md-flex ms-3 d-none ">
            <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="d-flex d-md-none ms-3">
            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="dropstart ms-auto">
            <a href="#" class="d-flex m-auto align-items-center text-dark text-decoration-none dropdown-toggle " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1 text-muted bold">{{app.user.prenom}}</span>
            </a>
            <ul class="dropdown-menu  dropdown-menu-dark text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{path('app_logout')}}">Se deconnécter</a></li>
            </ul>
        </div>
    </div>
</nav>