<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu-left">
    <li>
        <a href="{{ path('app_dashboard') }}" class="nav-link px-0 align-middle text-bold-grey">
            <i class="fa fa-dashboard text-info"></i> <span class="ms-3 d-none d-sm-inline">Tableau de bord</span>
        </a>
    </li>

    <li>
        <a href="{{ path('live_video_list') }}" class="nav-link px-0  text-bold-grey align-middle">
            <i class="fa-solid fa-handshake text-success"></i> <span class="ms-3 d-none d-sm-inline">Meetings</span>
        </a>
    </li>

    <li>
        <a href="{{ path('live_video_list') }}" class="nav-link px-0  text-bold-grey align-middle">
            <i class="fa-solid fa-handshake text-success"></i> <span class="ms-3 d-none d-sm-inline">Formations</span>
        </a>
    </li>
</ul>
