<!-- Modal -->
<div class="modal fade" id="modal-live-Video-Rapide" tabindex="-1" aria-labelledby="modal-live-Video-Rapide" aria-hidden="true">
    <div class="modal-dialog modal-xl ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <a href="/" class="m-auto text-decoration-none  text-muted">
                                <span class="text-center fs-4" >
                                    <span class="text-primary">P</span>
                                    <span class="d-none d-md-inline">i</span>
                                    <span class="text-danger d-none d-md-inline">x</span>
                                    <span class="d-none d-md-inline">e</span>
                                    <span class="text-warning d-none d-md-inline">l</span>
                                    F
                                    <span class="d-none d-md-inline">o</span>
                                    <span class="d-none d-md-inline">r</span>
                                    <span class="d-none d-md-inline">c</span>
                                    <span class="d-none d-md-inline">e</span>
                                </span>
                    </a>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="live_video" class="h-100 vh-100 d-flex">
                    <h1 class="m-auto chargement-live">Veuillez attendre le chargement ...</h1>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Terminer l'appel</button>
            </div>
        </div>
    </div>
</div>
