{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="row p-2 p-lg-4">
        <div class="col-12 col-lg-3">
            <div class="border bg-white p-3 vh-10">
                <div class="text-bold-grey">
                    Félicitation
                </div>
                <div class="h-100 d-flex">
                    <h1 class="my-auto text-info">
                        <i class="fa-solid fa-chart-column"></i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mt-2 mt-lg-0">
            <div class="border bg-white p-3 vh-10">
                <div class="text-bold-grey">
                    Chiffre d'affaire
                </div>
                <div class="h-100 d-flex">
                    <h1 class="my-auto text-success">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mt-2 mt-lg-0">
            <div class="border bg-white p-3 vh-10">
                <div class="text-bold-grey">
                    Statistique
                </div>
                <div class="h-100 d-flex">
                    <h1 class="my-auto text-primary">
                        <i class="fa-solid fa-chart-bar"></i>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mt-2 mt-lg-0">
            <div class="border bg-white p-3 vh-10">
                <div class="text-bold-grey">
                   Mon site
                </div>
                <div class="h-100 d-flex">
                    <h1 class="my-auto text-warning">
                        <i class="fa-solid fa-blog"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
