{% extends 'security/login.html.twig' %}

{% block title %}
    Inscription Initialisation mot de passe
{% endblock %}

{% block form %}
    {% if user %}
      {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>

      {{ form_end(form) }}
    {% else %}
        <div class="alert alert-danger">La page que vous demandez n'est plus valide</div>
    {% endif %}
{% endblock %}