{% extends 'security/login.html.twig' %}

{% block title %}
    Mot de passe oublié > changer le mot de passe
{% endblock %}

{% block form %}
    <form method="post" class="py-3">
        <input type="password" name="password" placeholder="Changer votre mot de passe" class="form-control" />
        <input type="password" name="repeat_password" placeholder="Repéter le ici" class="form-control mt-3" />
        <input type="hidden" name="sixDigitCode" value="{{ sixDigitCode }}"/>
        <div class="row mt-3">
            <div class="col-12"><button class="btn btn-primary w-100" type="submit">Confirmer la modification</button></div>
        </div>
        <div class="row mt-3">
            <div class="col-12"> <a class="btn btn-success w-100 font-weight-bold" href="{{ path('app_login') }}">
                    << Retour à la page d'authentification
                </a>
            </div>
        </div>
    </form>
{% endblock %}

