{% extends 'security/login.html.twig' %}

{% block form %}
    <form method="post" action="{{ path('app_forgetPassword_validateCode', {id:user.id}) }}" class=" py-3">
        <div class="mb-4">
            <div class="inner-addon left-addon">
                <input type="text" class="form-control"  placeholder="Un code vous a été envoyé : XXXXXX" name="sixDigitCode" id="sixDigitCode"  required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 pe-lg-0">
                <button class="btn btn-primary w-100 font-weight-bold" type="submit">
                    Valider
                </button>
            </div>
            <div class="col-lg-6 col-12 mt-lg-0 mt-2">
                <a class="btn btn-secondary w-100 font-weight-bold" href="{{ path('app_regenerCode', {email : user.email}) }}">
                    Regenerer le code
                </a>
            </div>
        </div>
        <div class="text-center mt-2">
            <a class="btn btn-success w-100 font-weight-bold" href="{{ path('app_login') }}">
                << Retour à la page  de Connexion
            </a>
        </div>

    </form>
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

