{% extends 'security/login.html.twig' %}

{% block form %}
    <form method="post" class=" py-3">
        {% if error %}
            <div class="alert alert-danger">e-mail invalide</div>
        {% endif %}
        <div class="mb-4">
            <div class="inner-addon left-addon">
                <input type="text" class="form-control"  placeholder="Entrer un adresse mail" name="email" id="inputMail_users"  required autofocus>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary w-100 font-weight-bold" type="submit">
                Recevoir un code
            </button>
        </div>
        <div class="text-center mt-2">
            <a class="btn btn-success w-100 font-weight-bold" href="{{ path('app_login') }}">
                << Retour à la page d'authentification
            </a>
        </div>
    </form>
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

