.chat-float-menu {
    width: 316px !important;
    height: 90vh;
    z-index: 9999999 !important;

}

.chat-float-menu .list-group-item{
    border:none;
    cursor: pointer;
}

.chat-float-menu .list-group-item:hover{
   background : #dce6f1
}


.chat-float-menu .card-body {
    overflow-y: auto;
}

.chat-float-newOne {
    width: 336px !important;
    height: 60vh;
    z-index: 9999999 !important;
    right:21.5%
}