<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande</title>
    <style>

    </style>
</head>
<body>
    <div>
        Une commande a été effectuée sur le secteur {{order.devis.demandeDevis.secteur.nom}}.,<br><br>
    </div>
    <div>
        <img src="cid:logo" />
    </div>
</p>

</body>
</html>
