{{ form_start(form) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.nom) }}
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
{{ form_end(form) }}