<div class="card shadow fs-14  chat-float-menu chat-minimised shadow-sm position-fixed bottom-0 end-0 mb-0" style="width: 18rem;">
    <div class="card-header bg-princ text-white">
        <div class="row">
            <div class="col-8 d-flex">
                <div class="my-auto">
                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <b class="ms-2 ">Messagerie <i class="fa-brands fa-facebook-messenger"></i></b>
                </div>
            </div>
            <div class="col-4 text-end">
                <a href="#" class="me-2 text-secondary chat-btn-newOne text-white"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="#" class="text-white chat-btn-maximise"><i class="fa-solid fa-angle-up"></i></a>
            </div>
        </div>

    </div>
    <ul class="list-group list-group-flush border-0">
        <li class="list-group-item border-0">
            <div class="input-group">
                <input type="text" class="form-control chat-menu-search" placeholder="Recherche" aria-label="Recipient's username with two button addons">
                <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
            </div>
        </li>
    </ul>
    <div class="card-body px-0">
        <div class="chat-single-canal">

        </div>

            <div class="mt-3 text-end pe-4">
                <b><u><i class="fa-brands fa-rocketchat"></i> Discussion de groupe</u></b><br>
                {% if is_granted('ROLE_COACH') %}
                <a href="#" class="fs-12 text-decoration-none chat-showModal-canalGroup" role="button" data-bs-toggle="modal" data-bs-target="#chatModalCreateGroups">+ créer un nouveau groupe</a>
                {% include 'live/chat/chatModal_createGroup.html.twig' %}
                {% endif %}
            </div>

            <div class="chat-groupe-canal">

            </div>


    </div>

</div>