<div class="card shadow fs-14  chat-float-newOne shadow-sm position-absolute bottom-0 " style="width: 18rem;">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-8 d-flex">
                <div class="my-auto">
                    <b class="ms-2 ">Nouveau Message <i class="fa-brands fa-facebook-messenger"></i></b>
                </div>
            </div>
            <div class="col-4 text-end">
                <a href="#" class="text-secondary me-2"><i class="fa-solid fa-angle-down"></i></a>
                <a href="#" class="text-secondary"><i class="fa-solid fa-close"></i></a>
            </div>
        </div>

    </div>
    <div>
        <div class="input-group">
            <input type="text" class="form-control  rounded-0 border-0 border-bottom py-3 fs-12" placeholder="Entrer un nom" aria-label="Recipient's username with two button addons">
        </div>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer p-0">
        <div class="py-3 ps-2">
            <a href="#" class="text-danger pe-2"><i class="fa-solid fa-video"></i></a>
            <a href="#" class="text-secondary"><i class="fa-solid fa-image"></i></a>
        </div>
        <div class="input-group bg-white">
            <input type="text" class="form-control border-0 border-top  fs-12 rounded-0 py-3" placeholder="Entrer votre message ..." aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-secondary text-primary border-0 border-top" type="button"><i class="fa-solid fa-paper-plane"></i></button>
        </div>

    </div>
</div>